@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #bfc4cd 1px !important;
    outline: 0 !important;
    padding: 0.4rem !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #bfc4cd !important;
    padding: 0.4rem !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1d4ed8 !important;
    color: white !important;
    font-size: 0.875rem !important;
}
.select2-results__option--selectable{
    font-size: 0.875rem !important;
}
span.select2-selection.select2-selection--multiple {
    font-size: 0.875rem !important ;
}